b{
    color: #D9529C;
}

body{
    min-width: 320px;
}

button{
    padding-left: 5px; 
    padding-right: 5px;
}

main{
    overflow:hidden
}

p{
    text-align: center;
    font-size: 18px;
    color: black;
}

th{
    background-color: #D9529C;
}

a:hover{
    text-decoration: none;
}

#main{
    padding-top:70px;
}
 
#redes{
    font-size: .90em;    
}

.area_branca{
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner_entrada{
    width: 100%;
    height: 70vh;
    background-image: url(../imgs/foto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom:10px
}

.cards_novidade{
    padding:20px; align-items: center; background-image: url(../imgs/events.png);
}

/*card-title também é uma classe do bootstrap, eu adicionei umas coisas */
.card-title{
    margin-top:10px; 
    text-align: center;
}

/*fa também é uma classe do bootstrap, eu adicionei umas coisas */
.fa {
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #D9529C;
    font-size: 30px;
}

.icones_redes{
    text-align: center; 
    margin:40px;
}

.info_comunidade{
    width:100%;
    position:relative;
    top:0;
    bottom:0;
}

.rodape {
    height: auto;
    margin: auto;
    text-align:center;
    padding:10px;
    color:gray;
    position: relative;
    bottom:0;
    left: 0;
}

.subtitulo{
    margin:20px; 
    font-size:30px; 
    text-align:center; 
    text-shadow:#010101 5px 5px 10px; 
    color: #D9529C;
}

.texto_inicial{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.titulo{
    margin:20px; 
    font-size:80px; 
    text-align:center; 
    text-shadow:#010101 5px 5px 20px; 
    color: #D9529C;
}

.titulo_sessoes{
    color: #4A5FD9;
    text-align: center;
    font-size:30px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 400px) {
    .titulo{
        text-shadow:#010101 -2px -2px 5px;
        font-size: 60px;
    }
    .subtitulo{
        font-size: 20px;
    }
    
}
